name: parsefailure
type: frequency
num_events: 2
timeframe:
  minutes: 5
index: parsefailure*

filter:
- query:
    query_string:
      query: 'tags:_grokparsefailure'

alert:
- "email"
- "slack"

email:
- "jhpeng@thoughtworks.com"
- "ygzhou@thoughtworks.com"
smtp_host: "smtp.163.com"
smtp_port: 25
from_addr: "sephora26@163.com"
smtp_auth_file: "/opt/config/smtp_auth_file.yaml"

slack:
slack_webhook_url: "https://hooks.slack.com/services/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"
