BUCKS_DATE %{DAY} %{MONTH} %{MONTHDAY} %{TIME} %{YEAR}
NGINX_LOG %{COMBINEDAPACHELOG} \"%{GREEDYDATA:http_x_forwarded_for}\" %{NUMBER:request_time}
MSR_NODE_TIME %{YEAR}[/-]%{MONTHNUM}[/-]%{MONTHDAY} %{HOUR}:?%{MINUTE}(?::?%{SECOND})
NODE_TIME %{MONTH} %{MONTHDAY} %{HOUR}:%{MINUTE}:%{SECOND}
