logstash-{{ container_name }}:
  image: logstash:2.3
  net: "host"
  container_name: {{ container_name }}
  restart: always
  volumes:
    - {{ app_configs[0].dir }}:/opt/logstash/conf
    - /opt/logstash/indexer/patterns:/opt/logstash/patterns
    - /opt/logstash/indexer/plugin-config:/opt/logstash/plugin-config
  command: logstash -f /opt/logstash/conf/indexer.conf
