upstream elastic {
  server {{ es_host }}:{{ es_port }};
  server {{ es_host_2 }}:{{ es_port }};
}

server {
  listen       80;
  server_name  localhost;

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

  location = / {
    proxy_pass http://{{ kibana_host | default('127.0.0.1') }}:{{ kibana_port }};
    rewrite /kibana4/(.*)$ /$1 break;
  }

  location ~ (/login|/logout|/home|/app/kibana|/bundles/|/kibana4|/status|/plugins|/elasticsearch/|/api) {
    proxy_pass http://{{ kibana_host | default('127.0.0.1') }}:{{ kibana_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;
    rewrite /kibana4/(.*)$ /$1 break;
  }

  location ~ ^/es.*$ {
    proxy_pass http://elastic;
    rewrite ^/es(.*) /$1 break;
  }

  location ~ ^/kopf/.*$ {
    proxy_pass http://elastic;
    rewrite ^/kopf/(.*) /_plugin/kopf/$1 break;
  }
}
